html {
      font-family: Arial, Helvetica, sans-serif;
      background-image: linear-gradient(to bottom, rgb(100, 100, 100), rgb(29, 29, 29));
      padding: 8% 2%;
      width: 40%;
      margin: auto;
      position: center;
    }

    .mainframe {
      background-image: linear-gradient(to bottom, rgb(7, 7, 7), rgb(218, 218, 218));
      margin: auto;
      position: center;
      border-style: solid;
      border-width: 0.5px;
      text-align: center;
    }

    .header_bar {
      color: rgba(172, 172, 172, 0.842);
      background-color: rgba(8, 8, 8, 0.479);
      width: 100%;
      justify-content: center;
      font-size: 80%;
      text-align: center;
      margin: auto;
    }

    .change_buttons {
      justify-content: center;
      display: grid;
      height: 3vh;
      grid-template-columns: 20vw 20vw;
      grid-template-rows: 2vh 2vh;
    }

    .on_off {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: 40% 40%;
      grid-template-rows: 3vh 3vh;
    }

    .change_buttons {
      display: grid;
      height: 3vh;
      grid-template-columns: 40% 40%;
      grid-template-rows: 3vh 3vh;
    }

    .large {
      width: 80%;
     }

    .p_button {
      width: 100%;
    }

    .lil_text {
      font-size: 100%;
    }

    .big_text {
      font-size: 150%;
    }